.wrapper {
    box-shadow: 0px 0px 16px 0px #999999;
    max-width: 800px;
    margin: 4rem auto;
    overflow: hidden;
    border-radius: 0.5rem;

    .location {
        width: 100%;
    }

    .info {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h1 {
            font-size: 1.5rem;
            font-weight: 600;
        }

        h2 {
            font-size: 1.25rem;
            font-weight: 500;
        }
    }

    .reviewWrapper {
        padding: 2rem 2rem;

        .addReview {
            padding: 0 8rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .stars {
                display: flex;
                justify-content: space-between;

                h2 {
                    font-weight: 500;
                    font-size: 1.25rem;
                }

                .starImgs {
                    display: flex;
                    gap: 0.25rem;

                    img {
                        cursor: pointer;
                    }
                }
            }


            form {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: center;

                textarea {
                    width: 100%;
                    resize: none;
                    border: none;
                    background-color: #F1F1F1;
                    border-radius: 0.5rem;
                    padding: 0.5rem;
                    font-size: 1rem;
                }

                input {
                    background-color: #D8EADB;
                    border-radius: 0.5rem;
                    border: none;
                    padding: 1rem 2rem;
                    cursor: pointer;
                }
            }
        }

        .reviews {
            margin-top: 2rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem 3rem;
        }
    }
}

@media (max-width: 864px) {
    .wrapper {
        margin: 4rem 2rem;
    }
}

@media (max-width: 800px) {
    .wrapper {
        .reviewWrapper {
            .addReview {
                text-align: center;

                .stars {
                    flex-direction: column;
                    gap: 0.5rem;

                    .starImgs {
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .wrapper {
        .reviewWrapper {
            .addReview {
                padding: 0;
            }
        }
    }
}