.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    margin-top: 2rem;
    border-top: 1px solid #c6c6c6;
    box-shadow: 0px 0px 500px 300px #D8EADB;

    .logo {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        h1 {
            font-size: 1.25rem;
            font-weight: 600;
        }

        img {
            height: 100%;
        }
    }

    .nav {
        display: flex;
        list-style: none;
        gap: 2rem;

        a {
            text-decoration: none;
            color: black;
        }
    }

    .burgerNav {
        list-style: none;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        background-color: white;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        padding: 0 1rem;
        z-index: 9999;



        .close {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background-color: gray;
            border-radius: 50%;
            cursor: pointer;
        }
    }

    .open {
        display: none;
        background-color: gray;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        padding: 0.5rem;
        cursor: pointer;
    }

    .login {
        background-color: #D8EADB;
        border-radius: 50%;
        padding: 0.5rem;

        img {
            height: 14px;
            width: 14px;
        }
    }
}

@media (max-width: 900px) {
    .wrapper {
        padding: 1rem 1rem;
    }
}

@media (max-width: 768px) {
    .wrapper {
        .nav {
            display: none;
        }
        .open {
            display: block;
        }
    }

}