.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1000px;
    margin: 4rem auto;
    border-radius: 1rem;
    overflow: hidden;

    .stepWrapper {
        background-color: #114D46;
    }
}

@media (max-width: 1064px) {
    .wrapper {
        margin: 4rem 2rem;
    }
}

@media (max-width: 900px) {
    .wrapper {
        grid-template-columns: 1fr 3fr;
    }
}