.wrapper {
    display: flex;
    gap: 2rem;
    align-items: center;
    
    .fakeImg {
        width: 40px;
        height: 40px;
        background-color: #C4C4C4;
        border-radius: 0.75rem;
    }
    
    .content {
        display: flex;
        min-width: 200px;
        flex-direction: column;
        gap: 0.5rem;

        div {
            display: flex;
            justify-content: space-between;
            color: #4F5B79;
            gap: 2rem;
            font-size: 0.85rem;
        }

        .comment {
            font-size: 1rem;
        }
    }
}
