.wrapper {

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            color: white;
            padding: 0 2rem;
        }

        img {}
    }
}