.wrapper {
    max-width: 1000px;
    margin: 4rem auto;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 0px 16px 0px #999999;

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        h1 {
            color: white;
            padding: 0 2rem;
        }
        
        img {}
    }

    .detailsWrapper {
        padding: 4rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
}