.wrapper {
    background-color: #114D46;
    padding: 2rem 6rem;
    display: flex;
    color: #FFFFFFB2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .info {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .logo {
            display: flex;
            gap: 1rem;
            align-items: center;

            img {
                height: 100%;
            }

            h1 {
                color: white;
                font-size: 1.25rem;
                font-weight: 600;
            }

        }

        .text {
            max-width: 500px;
        }

        h2 {
            font-size: 1.25rem;
            font-weight: 500;
        }
    }

    .backTop {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        
        img {
            height: 30px;
            cursor: pointer;
        }

        p {
            cursor: pointer;
        }
    }
}

@media (max-width: 700px) {
    .wrapper {
        padding: 1rem 2rem;
        flex-direction: column;

        .backTop {
            align-self: self-end;
        }
    }
}